# Docker container name
CONTAINER_NAME="taxopress"

# Docker image name
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:node-25"

WP_IMAGE_NAME="publishpress/dev-workspace-wordpress:wordpress-6.9-php-8.5"

WPCLI_IMAGE_NAME="publishpress/dev-workspace-wpcli:wpcli-2-php-8.5"

PLUGIN_NAME="TaxoPress"

PLUGIN_TYPE="FREE"

PLUGIN_COMPOSER_PACKAGE="taxopress/simple-tags"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./dev-workspace-cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="simple-tags"

# The domain of the plugin to be tested.
LANG_DOMAIN="simple-tags"

# The directory of the language files.
LANG_DIR="languages"

# The language locales.
LANG_LOCALES="de_DE es_ES fi fil fr_FR id_ID it_IT ja ko_KR nl_NL pt_BR ru_RU yo"

# OpenAI API key
OPENAI_API_KEY=sk-proj-your-openai-key

# WebLate API token
WEBLATE_API_TOKEN=wlu_your-weblate-token
