node_modules
*.log
/vendor
/lib/**/.git
/tests/codeception/_data/plugins/ray-future/vendor
./logs
codeceptjs/output
.idea
.DS_Store
/builder.yml
/dist
report.csv
.phplint-cache
.php-cs-fixer.cache
.vscode/
*.code-workspace
ray.php
/version.txt
/lib/vendor/woocommerce/action-scheduler/changelog.txt
/cache
/.cache
/cache/*
.phplint.cache*

/tests-*
/tests/.env
assets/js/*.map
webpack-bundle-stats.json
webpack-bundle-stats.html
webpack-bundle-stats-*.json
webpack-bundle-stats-*.html
gh_token.txt
/.env
.env
dev-workspace/.cache

/.wordpress-org
.wordpress-org
.git
.svn

/build
/svn

/node_modules

.properties.ini
wpcom-helper.php
CONTRIBUTING.md
builder.yml
.env.testing
/bin
/local.sh
/packages
.phplint-cache
/metrics
/security-audit
dev-workspace-cache/
