/* TextboxList sample CSS */
#wrap-old-input-tags ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html #wrap-old-input-tags ul.holder { padding-bottom: 2px; }
* html #wrap-old-input-tags ul.holder { padding-bottom: 2px; } /* ie7 and below */
#wrap-old-input-tags ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; }
#wrap-old-input-tags ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
#wrap-old-input-tags ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
#wrap-old-input-tags ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
#wrap-old-input-tags ul.holder li.bit-input input { width: 150px; margin: 0; border: none; outline: 0; padding: 3px 0 2px; } /* no left/right padding here please */
#wrap-old-input-tags ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
#wrap-old-input-tags form,
#wrap-old-input-tags #add { border: 1px solid #999; width: 550px; margin: 50px; padding: 20px 30px 10px; }
#wrap-old-input-tags form ol { font: 11px "Lucida Grande", "Verdana"; margin: 0; padding: 0; }
#wrap-old-input-tags form ol li.input-text-autocomplete { margin-bottom: 10px; list-style-type: none; border-bottom: 1px dotted #999; padding-bottom: 10px; }
#wrap-old-input-tags form ol li.input-text-autocomplete label { font-weight: bold; cursor: pointer; display: block; font-size: 13px; margin-bottom: 10px; }
#wrap-old-input-tags form ol li.input-text-autocomplete input { width: 500px; padding: 5px 5px 6px; font: 11px "Lucida Grande", "Verdana"; border: 1px solid #999; }
#wrap-old-input-tags form ul.holder { width: 500px; }
#wrap-old-input-tags .input-text-autocomplete ul.holder li.bit-box { padding-right: 15px; position: relative; }
#wrap-old-input-tags ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
#wrap-old-input-tags ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
#wrap-old-input-tags ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
#wrap-old-input-tags ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
#wrap-old-input-tags ul.holder li.bit-box-focus a.closebutton,
#wrap-old-input-tags ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter */
#wrap-old-input-tags #protomultiselect-tags-auto { display: none; position: absolute; width: 512px; background: #eee; z-index:99999; }
#wrap-old-input-tags #protomultiselect-tags-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px; }
#wrap-old-input-tags #protomultiselect-tags-auto ul { display: none; margin: 0; padding: 0; overflow: auto; }
#wrap-old-input-tags #protomultiselect-tags-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; }
#wrap-old-input-tags #protomultiselect-tags-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
#wrap-old-input-tags #protomultiselect-tags-auto ul li.auto-focus { background: #4173CC; color: #fff; }
#wrap-old-input-tags #protomultiselect-tags-auto ul li.auto-focus em { background: none; }

#wrap-old-input-tags #demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
#wrap-old-input-tags #add a { color: #666; }
#wrap-old-input-tags #add-test { width: 100px; padding: 2px; }
#wrap-old-input-tags #button_container { margin-left: 70px; margin-bottom: 30px;}