ul.taxopress-tab.ai-integration-tab li a::before {
    width: 20px;
    height: 16px;
    font-family: Dashicons;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f323" !important;
    font-variant: normal;
    text-decoration: none;
    color: grey;
}

.st_taxopress_ai-wrap .right-body-content {
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}

.taxopress-ai-preview-sidebar .sidebar-body-wrap {
    display: flex;
}

.taxopress-ai-preview-sidebar .sidebar-body-wrap select,
.taxopress-ai-preview-sidebar .sidebar-body-wrap .ppma_select2-container {
    flex: 1 1 0px;
    margin-right: 5px;
    overflow: auto;
}

.taxopress-ai-preview-sidebar .sidebar-submit-wrap .submit-action {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 0;
}

.taxopress-ai-preview-sidebar .ai-select-all {
    cursor: pointer;
}

.previewed-tag-fieldset {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px dashed #D1E6EF;
    overflow: auto;
    margin: 3px 0 0;
}

.previewed-tag-fieldset legend {
    padding: 0 10px;
    padding-bottom: 5px;
    color: #2271b1;
}

.previewed-tag-fieldset legend a {
    text-decoration: none;
}

.preview-action-btn-wrap {
    display: flex;
    margin-top: 10px;
    justify-content: right;
}

.preview-action-btn-wrap .spinner:not(.is-active) {
    display: none;
}

.previewed-tag-content .result-terms {
    margin: 3px 1px 3px 10px;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    background: #ddd;
    border: 1px dotted transparent;
    color: #1e1e1e;
    cursor: pointer;
}

.previewed-tag-content .result-terms:not(.countable) {
    padding: 2px 0;
}

.previewed-tag-content .result-terms.used_term {
    background: #5ecd8a;
    color: #333333;
}

.previewed-tag-content .result-terms .term-name {
    margin: 0 0.3em;
    padding: 8px 4px;
}

.previewed-tag-content .result-terms .term-counts {
    background-color: #357AB5;
    color: #fff;
    margin-left: 0.2em;
    padding: 0.2em 0.4em;
    display: inline-block;
}

.taxopress-ai-preview-sidebar #minor-publishing {
    min-height: 595px;
    padding: 10px;
}

.st_taxopress_ai-wrap .taxopress-tab-content {
    min-height: 615px;
    width: 60%;
}

.st_taxopress_ai-wrap #poststuff #post-body.columns-2 {
    display: flex;
}

.st_taxopress_ai-wrap .description {
    color: #3c434a;
    font-size: 13px;
    line-height: 1.5;
}

.st_taxopress_ai-wrap .description.tab-table-content {
    margin-top: 10px;
}

.st_taxopress_ai-wrap .form-table th {
    width: 50%;
}

.st_taxopress_ai-wrap #poststuff #post-body.columns-2 #side-sortables {
    width: unset;
}

.st_taxopress_ai-wrap #poststuff #post-body.columns-2 {
    margin-right: unset;
}

.st_taxopress_ai-wrap #post-body-content,
.st_taxopress_ai-wrap #post-body.columns-2 #postbox-container-1 {
    width: unset;
    min-width: unset;
    float: none;
    margin-right: unset;
    margin-bottom: 10px;
}

.st_taxopress_ai-wrap .tp-ai-flex-item {
    flex: 1 1 0px;
    margin-right: 15px;
    max-width: 50%
}

.st_taxopress_ai-wrap ul.taxopress-tab {
    width: 35%;
}

.st_taxopress_ai-wrap .api-desc-th {
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    width: 100% !important;
}

.tp-ai-submit-div {
    display: flex;
}


@media screen and (max-width: 576px) {
    .st_taxopress_ai-wrap #poststuff #post-body.columns-2 {
        display: block;
    } 
}