.taxopress-advertisement-right-sidebar h3.hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.taxopress-advertisement-right-sidebar .postbox-container .inside ul {
    margin-bottom: 20px;
}

.taxopress-advertisement-right-sidebar .postbox-container .inside ul li {
    position: relative;
    padding-left: 22px;
    font-weight: 600;
    font-size: .9em;
}

.taxopress-advertisement-right-sidebar .postbox-container .inside ul li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #3C50FF;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    mask-size: 16px;
    -webkit-mask-size: 16px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: left;
    -webkit-mask-position: left;
}

.taxopress-advertisement-right-sidebar a.advert-link {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}